<div class="container-fluid">
  <!--    Nav bar-->
  <div class="row">
    <div class="d-flex justify-content-end" style="padding-left: 0;padding-right: 0">
      <div class="col-12">
        <header id="top">
          <img class="item-logo" src="../../../assets/image/logo-parking.png">
          <nav>
            <div class="nav-items">
              <a routerLink="/home">Trang chủ</a>
              <a>Sản Phẩm</a>
              <a>Dự án mẫu</a>
            </div>
            <h1 class="nav-logo"><img src="../../../assets/image/logo-parking.png" style="width: 200px"></h1>

            <div class="nav-items">
              <a routerLink="/">Chức năng</a>
              <a href="#info" routerLink="/signIn">Đăng nhập</a>
              <a href="#info" routerLink="/signUp" >Đăng kí</a>
              <!--              <a href="#info">Đăng xuất</a>-->
            </div>
          </nav>
        </header>
      </div>
    </div>
  </div>
</div>
<!--    Nav bar end-->
<script src="assets/mainjs/navbar.js"></script>
